# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
linku/node_modules

# testing
linku/coverage

# production
linku/build

# misc
.DS_Store
.env
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

# atom
.jshintrc
